<h3>Enter long link:</h3>

<form name="shorten_link" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="center">
<br><br>
<input type="text" size="25" value="Enter long link">
<br><br>
</div>
</form>

<h3>Copy link</h3>